<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.lesson02.dao.StoreDAO"> <!-- DAO의 패키지명 복붙 및 메소드 복붙 -->
 	<select id="selectStoreList" resultType="com.quiz.lesson02.model.Store">
 		SELECT
 			*
 		FROM
 			`store`
 	</select>
 </mapper>
 <!-- mappers 패키지는 테이블 단위로 생성을 해야 함 -->