@charset "UTF-8";
#wrap {width:900px; height:900px; margin:auto;}
header {height:65px; background-color:#CCC5C5;}
#signUp {width:540px; height:60px; margin:auto;}
.btn-check {font-size:11px; padding:4px 5px;}
.contents {width:540px; height:470px; margin:auto; background-color:#EEE6E6;}